@charset "UTF-8";
html,body{
	height: 100%;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
}
.location{
	display : flex;
	justify-content: flex-end;
	align-items:center;
	height: 10%;
	
}
.txt_location{
	font-size: 1vw;
	padding-right: 20px;
	color: white;
}
.main{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 80%;
}
.wrap_todo{
	background-color:rgba(0,0,0,0.3);
	width: 40vw;
	height: 20vw;
	/* margin-right: 20vw; */
}
.box_todo{
   width: 40vw;
   height: 20vw;
/*    margin-right:20vw; */
   background-color: rgba(0,0,0,0.3);
}



.wrap_clock{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	height: 40%;
}
.wrap_clock>div{
	font-size:2vw;
	color:white;
	font-weight:bolder;
	line-height: 2;
}
.wrap_username,.box_todo{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 60%;
}
.wrap_username>form{
	width: 100%;
}

.inp_username,.inp_todo{
	position:relative;
	background-color:transparent;
	padding:1vw;
	border-radius:25%;
	border-top: 0;
	border-left:0;
	border-right: 0;
	border-bottom-color:white;
	color: white;	
	width: 60%;
	left: 20%;
	font-size: 3vw;
	outline:none;
}

.inp_username,.inp_todo::placeholder{
	color:white;
	font-size: 2vw;
	text-align: center;
}
.todo-list{
	display:none;
	background-color:rgba(0,0,0,0.3);
	height: 100vh;
	
	width: 20vw;
	min-width: 170px;
}
.todo-list>p{
	color: white;
	font-weight: bolder;
	text-align: center;
	font-size: 2vw;
	margin : 10px 0 10px 0;
}

.todo-list>div{
	position: relative;
	
	
	color: white;
	width:80%;
	left:10%;
	border-radius:20%;
	text-align: center;
	font-size: 1.5vw;
	background-color:red;
	padding : 10px 0 10px 0;
	margin : 10px 0 10px 0;
}

.todo-list>i{
	
}

.bg-info{
	display:flex;
	align-items:center;
	height: 10%;
}
.txt_bg{
	font-size: 1vw;
	padding-left: 20px;
	color: white;
}